// Color Map
$colors: (
  primary-red: hsl(0, 100%, 74%),
  primary-green: hsl(154, 59%, 51%),
  accent-blue: hsl(248, 32%, 49%),
  neutral-db: hsl(249, 10%, 26%),
  neutral-gb: hsl(246, 25%, 77%),
  text-white: #FAFAFA
);

// Color Function
@function color($colors-name) {
  @return map-get($colors, $colors-name);
}

// Weight Map
$font-weight: (
  regular: 400,
  medium: 500,
  semi-bold: 600,
  bold: 700,
);

// Weight Function
@function weight($size) {
  @return map-get($font-weight, $size);
}

// Variables
$font-body-size: 1rem;
$font-family: 'Poppins', sans-serif;
$shadow: 0 6px rgba(0, 0, 0, 0.2);
$big-shadow: 0 8px rgba(0, 0, 0, 0.2);

// Styles
body {
  background-color: color(primary-red);
  background-image: url("/Users/laustefiles/github/LTC/images/bg-intro-mobile.png");
  font-family: $font-family;
  font-size: $font-body-size;
}

#landing-page {
  .content {
    margin: 6.25rem 1.25rem 2rem 1.25rem;

    h1, p {
      color: color(text-white);
      text-align: center;
    }

    h1 {
      font-weight: weight(semi-bold);
      font-size: 2rem;
      margin-bottom: 1.8rem;
    }
  }

  .form {
    margin: auto 1.25rem auto 1.25rem;
    .try-it {
      background-color: color(accent-blue);
      border-radius: 10px;
      box-shadow: $shadow;
      margin-bottom: 2rem;
      p {
        text-align: center;
        color: color(text-white);
        padding: 1.3rem;
        .strong-text {
          font-weight: weight(semi-bold);
        }
      }
    }

    .sign-up {
      height: 450px;
      border-radius: 10px;
      box-shadow: $big-shadow;
      margin-bottom: 100px;

      .free-trial {
        small, button {
          margin-bottom: 1rem;
        }
        input {
          padding: 1.8rem;
          color: color(neutral-db);
        }
        .error {
          border-color: color(primary-red);
          border-width: medium;
          background-image: url("/Users/laustefiles/github/LTC/images/icon-error.svg");
          background-position: 450px 18px;
          background-repeat: no-repeat;
        }
        .error-text {
          color: color(primary-red);
          font-size: .7rem;
          display: flex;
          justify-content: flex-end;
          padding-top: .3rem;
        }
        button {
          background-color: color(primary-green);
          border-color: color(primary-green);
          font-size: 1rem;
          padding-top: 15px;
          padding-bottom: 15px;
          box-shadow: 0 4px rgba(47, 182, 124, 0.9);
        }
        p {
          font-size: 12px;
          color: color(neutral-gb);
          font-weight: weight(medium);
          span {
            color: color(primary-red);
            font-weight: weight(bold);
          }
        }
      }
    }
    .extra-card {
      padding-bottom: 530px;
    }
  }
}

// Queries for responsiveness
@media only screen and (min-width: 1200px) {
  #landing-page {
    margin-top: 125px;

    .content {
      padding-top: 75px;

      .ltc, .text {
        text-align: left;
      }
      .ltc {
        font-size: 3rem;
      }
      .text {
        width: 455px;
      }
    }
  }
}

@media only screen and (min-width: 992px) {
  #landing-page {
    margin-top: 125px;

    .content {
      padding-top: 75px;

      .ltc, .text {
        text-align: left;
      }
      .ltc {
        font-size: 3rem;
      }
      .text {
        width: 400px;
      }
    }
  }
}
